<div class="register-wrapper">
  <form class="register-form" (submit)="onSubmit()" #userForm="ngForm">

    <mat-form-field hideRequiredMarker appearance="fill">
      <mat-label>Enter your username</mat-label>
      <input matInput #login="ngModel" ngModel type="text" name="username" required minlength="3">
      <mat-error *ngIf="login.errors?.['minlength']">Username must be at least 3 characters long.</mat-error>
      <mat-error *ngIf="login.errors?.['required']">Username must be provided.</mat-error>
    </mat-form-field>

    <mat-form-field hideRequiredMarker appearance="fill">
      <mat-label>Enter password</mat-label>
      <input matInput #pass="ngModel" ngModel type="password" name="password" required minlength="3">
      <mat-error *ngIf="pass.errors?.['minlength']">Password must be at least 3 characters long.</mat-error>
      <mat-error *ngIf="pass.errors?.['required']">Password must be provided.</mat-error>
    </mat-form-field>

    <mat-form-field hideRequiredMarker appearance="fill">
      <mat-label>Re-enter password</mat-label>
      <input matInput #passRetyped="ngModel" ngModel type="password" name="passwordRetyped" required minlength="3">
      <mat-error *ngIf="passRetyped.errors?.['minlength']">Password must be at least 3 characters long.</mat-error>
      <mat-error *ngIf="passRetyped.errors?.['required']">Password must be provided.</mat-error>
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit">Sign Up</button>

  </form>
</div>