.register-wrapper{
  height: 100%;
  color: #700f43;
  display:flex;
  background-color: #6a696e;
  justify-content: center;
}

.register-form{
  display: flex;
  justify-items: center;
  flex-direction: column;
  justify-content: center;
  align-content: stretch;
  flex-wrap: wrap;
  align-items: stretch;
}

.register-form input{
  margin: .5em;
}

.link-wrapper {
  display: flex;
  justify-content: end;
  margin-top: .5em;
}

.link-wrapper > a {
  text-decoration: none;
  color: #0000FF;
}

.link-wrapper > a:hover {
  text-decoration: none;
  color: #2c2cff;
}

mat-form-field {
  margin-bottom: 1em;
  font-weight: 500;
}

button {
  margin-top: 1em;
}

::ng-deep.mat-focused.mat-form-field-label {
  color: white !important;
 }

::ng-deep.mat-form-field-ripple {
 background-color: white !important;;
}

::ng-deep.mat-form-field-underline {
  background-color: white !important;
} 


