.register-wrapper{
  width:300px;
  height: 400px;
  color:white;
  display:flex;
  background-color: #61645f;
  justify-content: center;
}

.register-form{
  display: flex;
  justify-items: center;
  flex-direction: column;
  justify-content: center;
  align-content: stretch;
  flex-wrap: wrap;
  align-items: stretch;
}

.register-form input{
  margin: .5em;
}

mat-form-field {
  margin-bottom: 1em;
  font-weight: 500;
}

button {
  margin-top: 1em;
}

::ng-deep.mat-focused.mat-form-field-label {
  color: white !important;
 }

::ng-deep.mat-form-field-ripple {
 background-color: white !important;;
}

::ng-deep.mat-form-field-underline {
  background-color: white !important;
} 


