<div class="login-wrapper">

  <form class="login-form" (submit)="loginVerify()">
    <mat-form-field appearance="fill">
      <mat-label>Login</mat-label>
      <input matInput [(ngModel)]="username" type="text" name="login" placeholder="Enter username">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Password</mat-label>
      <input matInput [(ngModel)]="password" type="password" name="password" placeholder="Enter password">
    </mat-form-field>

    <input mat-raised-button color="primary" type="submit"  value="log in">

  </form>
</div>


