.login-wrapper{
  width:300px;
  height: 400px;
  color:green;
  display:flex;
background-color: #61645f;
justify-content: center;
}
.login-form{
  display: flex;
  justify-items: center;
  flex-direction: column;
  justify-content: center;
  align-content: stretch;
  flex-wrap: wrap;
  align-items: stretch;
}
.login-form input{
  margin: 10px;
}

